<p class="title">英属维京群岛私人有限公司介绍</p>
<mat-card>
  <p class="content">英属维尔京群岛（The British Virgin Islands, B.V.I）是世界上发展最快的海外离岸投资中心之一。根据该岛的法律，所有在该岛注册登记设立的公司，除了法定每年计缴的登记费用（非常少）外，所有业务收入和盈余均免征各项税款。很多国际知名的大公司为了其避税的运作，均在该岛设立避税公司，并展开复杂的国际避税业务活动。</p>
  <br>
  <p class="content">BVI公司的优势：</p>
  <p class="content">1. 岛屿拥有良好的政治、经济和贸易环境；</p>
  <p class="content">2. 良好的金融法律设施，方便建立各种金融机构或基金会的成立与发展；</p>
  <p class="content">3. 政府为各企业提供隐私保护，保护股东利益，董事资料绝对保密，无须公布受益人身份；</p>
  <p class="content">4. 无须缴税，无外汇管制，任何货币的流通都没有限制。</p>
  <p class="content">5. 不需核数师报告，只需保留资料反映经济状况已可；</p>
  <p class="content">6. 再外地经营所得利润无须交利得税，以三角贸易形式可以达到合理避税的目的；</p>
  <br>
  <p class="content">感谢选择Setting It Unicorn，我们将竭诚为您服务！</p>
</mat-card>
<button mat-raised-button class="button" (click)="gotoNextStep()">开始注册</button>

