<p class="title">年度续费合同签署</p>

<mat-card>
  <p>
    请从此处点击下载需要签署的合同:
    <a [href]="Ar_contract_url" target="_blank"><button mat-button color="primary">合同</button></a>
  </p>

  <div class="file-field">
    <label class="upload-button">
      <span><mat-icon *ngIf="arcontractchecked">done</mat-icon>请从此处上传签署后的合同：</span>
      <input type="file" ngFileSelect (uploadOutput)="onArContractUploadOutput($event)" [uploadInput]="uploadInput"
             multiple>
    </label>
    <div class="loading-spinner" *ngIf="arcontractuploading">
      文件正在上传中...
    </div>
  </div>
</mat-card>

<button mat-raised-button class="button" [disabled]="!arcontractchecked" (click)="gotoNextStep()">下一步</button>

{{errors}}
