<p class="title">注册完成</p>
  <mat-card>
    <p>注册完成后，请接收官方电子文件bizfile，并可以从官网查验公司存在；</p>
    <p>董事成员签署标准章程，或者订制特殊章程，召开第一次成员大会（在线）</p>
    <hr>
    <p>
      点击下载 bizfile:
      <a [href]="bizfile_url" target="_blank"><button mat-button color="primary">bizfile</button></a>
    </p>

    <p>
      点击下载 constitution:
      <a [href]="constitution_url" target="_blank"><button mat-button color="primary">constitution</button></a>
    </p>

    <p>
      点击下载 Certificate of Incorporation:
      <a [href]="certificate_url" target="_blank"><button mat-button color="primary">certificate</button></a>
    </p>
    <hr>
    <p class="comment">注意：</p>
    <p class="comment">
      1、基金会注册成立三个月内必须指派一名审计，Setting It Unicorn为您提供财税审计20,000美金/年打包方案供选择， 联系客户经理进行购买。
    </p>
    <p class="comment">
      2、若您选择自己联系新加坡审计师，请在3个月内联系sSetting It Unicorn客户经理告知指派情况， Setting It Unicorn需向ACRA报备并为您更新bizfile。
    </p>
    <p class="comment">
      3、需开户服务可在此时向客户经理预约，安排来新加坡银行做面签。
    </p>
  </mat-card>

<a mat-raised-button class="button" routerLink="/dashboard">完成并返回主页</a>
