<mat-card>
  <div class="director-name">
    董事姓名：{{director.name | uppercase}}
    <a class="right-button" mat-raised-button [disabled]="isPaid" (click)="!isPaid && removeDirector()">删除</a>
    <a class="right-button" mat-raised-button [disabled]="isPaid" (click)="!isPaid && openEditDirectorDialog()">编辑</a>
  </div>

  <!--<app-edit-director (ifshow)="saveAndHide($event)" [director]="director" *ngIf="showTable"></app-edit-director>-->

  <div class="edit-table">
    <mat-card *ngIf="showTable">
      <form [formGroup]="directorForm" (submit)="onUpdate()">
        <table>
          <tbody>
          <tr>
            <td>
              <div class="field">
                <mat-form-field>
                  <mat-label>姓名</mat-label>
                  <input matInput placeholder="请用拼音填写此项" formControlName="name">
                </mat-form-field>
              </div>
            </td>
            <td>
              <div class="field">
                <mat-form-field>
                  <input matInput placeholder="电子邮箱" formControlName="email">
                  <mat-error *ngIf="email.invalid">Email格式有误</mat-error>
                </mat-form-field>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="field">
                <mat-form-field>
                  <mat-label>联系电话</mat-label>
                  <input matInput placeholder="+86" formControlName="phone">
                </mat-form-field>
              </div>
            </td>
            <td>
              <div class="field">
                <mat-form-field>
                  <input matInput placeholder="护照号" formControlName="passportId">
                </mat-form-field>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="field">
                <mat-form-field>
                  <mat-label>地址<span class="comment" *ngIf="addressInvalid">{{addressError}}</span></mat-label>
                  <input matInput placeholder="请用英文填写此项，必须与住址证明上的地址保持一致" formControlName="address">
                </mat-form-field>
              </div>
            </td>
            <td>
              <div class="field">
                <mat-form-field>
                  <input matInput placeholder="担保金额(SGD)(推荐为1)" formControlName="guaranteeAmount">
                </mat-form-field>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="field">
                <mat-form-field>
                  <input matInput placeholder="出生日期(DD-MM-YYYY)" formControlName="birthday">
                </mat-form-field>
              </div>
            </td>
            <td>
              <div class="field">
                <mat-form-field>
                  <input matInput placeholder="国籍" formControlName="nationality">
                </mat-form-field>
              </div>
            </td>
          </tr>
          </tbody>
        </table>

        <button mat-raised-button class="save-button" color="primary" type="submit" [disabled]='isMissingInfo()'>保存</button>

      </form>
    </mat-card>
  </div>

  <div class="options">
    <mat-form-field>
      <mat-select placeholder="住址证明" [disabled]="isPaid" [(value)]="director.addressProofType" (selectionChange)="onProofOfAddressTypeChanged($event)">
        <mat-option *ngFor="let type of proofOfAddressTypes" [value]="type.value">
          {{type.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="columns">
    <div class="column is-one-third">
      <label class="upload-button">
        <div>护照扫描件</div>
        <input [disabled]="isPaid" type="file" ngFileSelect (uploadOutput)="onUploadStatusChanged($event, 'image_passport')" [uploadInput]="uploadInput"
          multiple>
      </label>

      <img class="image" [src]="director.passportUrl" alt="">
    </div>
    <div class="column is-one-third" *ngIf="requireBackImage">
      <label class="upload-button">
        <div>住址证明正面</div>
        <input [disabled]="isPaid" type="file" ngFileSelect
          (uploadOutput)="onUploadStatusChanged($event, 'image_address_proof_front')"
          [uploadInput]="uploadInput" multiple>
      </label>

      <img class="image" [src]="director.addressProofFrontUrl" alt="">
    </div>
    <div class="column is-one-third" *ngIf="requireBackImage">
      <label class="upload-button" >
        <div>住址证明反面</div>
        <input [disabled]="isPaid" type="file" ngFileSelect
          (uploadOutput)="onUploadStatusChanged($event, 'image_address_proof_back')"
          [uploadInput]="uploadInput" multiple>
      </label>

      <img class="image" [src]="director.addressProofBackUrl" alt="">
    </div>

    <div class="column is-one-third" *ngIf="!requireBackImage">
      <label class="upload-button" >
        住址证明
        <input [disabled]="isPaid" type="file" ngFileSelect
          (uploadOutput)="onUploadStatusChanged($event, 'image_address_proof_front')"
          [uploadInput]="uploadInput" multiple>
      </label>

      <img class="image" [src]="director.addressProofFrontUrl" alt="">
    </div>
  </div>
  <div class="loading-spinner" *ngIf="uploading">
    文件正在上传中...
  </div>
</mat-card>
